#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 40vw;
  border-radius: 40vw;
  height: 40vw;
  display: grid;
  grid-template-areas: "middle";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
